In [4]:
import pymongo
import json

from pymongo.mongo_client import MongoClient
from pprint import pprint

In [8]:
with open('config.json') as f:
    config = json.load(f)
uri = config.get("MONGO_URI")
client = MongoClient(uri)

# Test Connection
try:
    client.admin.command('ping')
    print("pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)


#connecting to DB and collections

db = client["Mav"]
sales = db["sales"]

pinged your deployment. You successfully connected to MongoDB!

<h4>Making Queries</h4>

In [9]:
query = {"total_price":{"$gt":3000}}
results = sales.find(query).limit(5)

for doc in results:
    pprint(doc)

{'_id': 1,
 'card_type': 'jcb',
 'country': 'china',
 'email': 'fpayn0@irs.gov',
 'first_name': 'frannie',
 'gender': 'female',
 'last_name': 'payn',
 'payment_card': False,
 'total_price': 8064.45,
 'year': 2001}
{'_id': 2,
 'card_type': 'jcb',
 'country': 'bosnia and herzegovina',
 'email': 'hgreves1@patch.com',
 'first_name': 'hatti',
 'gender': 'female',
 'last_name': 'greves',
 'payment_card': True,
 'total_price': 5003.15,
 'year': 2019}
{'_id': 3,
 'card_type': 'visa-electron',
 'country': 'china',
 'email': 'rfeatherstonhaugh2@adobe.com',
 'first_name': 'ronnica',
 'gender': 'non-binary',
 'last_name': 'featherstonhaugh',
 'payment_card': True,
 'total_price': 3264.26,
 'year': 2020}
{'_id': 4,
 'card_type': 'jcb',
 'country': 'philippines',
 'email': 'cselly3@acquirethisname.com',
 'first_name': 'carlota',
 'gender': 'female',
 'last_name': 'selly',
 'payment_card': True,
 'total_price': 8769.55,
 'year': 2011}
{'_id': 6,
 'card_type': 'jcb',
 'country': 'denmark',
 'email': 'mkeir5@google.com.hk',
 'first_name': 'mal',
 'gender': 'male',
 'last_name': 'keir',
 'payment_card': True,
 'total_price': 6314.79,
 'year': 2005}

<H4> Creating a Pipeline

In [117]:
pipeline = [
    {"$match":
        {"year":2020,
        "total_price":{"$gt":2000}}
    },
    {"$group":
        {"_id":"$country",
         "count":{"$sum":1},
         "total":{"$sum":"$total_price"}}
    },
    {"$sort":
     {"total":-1}},

    {"$project":
        {"_id":1,
         "count":1,
         "total":1}
     
     
    }
]

In [118]:
results = sales.aggregate(pipeline)
for result in results:
    pprint(result)

{'_id': 'brazil', 'count': 6, 'total': 41247.3}
{'_id': 'france', 'count': 3, 'total': 16118.67}
{'_id': 'ukraine', 'count': 2, 'total': 12817.99}
{'_id': 'czech republic', 'count': 2, 'total': 11795.05}
{'_id': 'china', 'count': 3, 'total': 10356.93}
{'_id': 'indonesia', 'count': 2, 'total': 10208.9}
{'_id': 'philippines', 'count': 1, 'total': 9736.57}
{'_id': 'bangladesh', 'count': 1, 'total': 9531.82}
{'_id': 'north korea', 'count': 1, 'total': 9417.34}
{'_id': 'united states', 'count': 1, 'total': 8897.35}
{'_id': 'south africa', 'count': 1, 'total': 8824.51}
{'_id': 'argentina', 'count': 1, 'total': 8604.47}
{'_id': 'thailand', 'count': 1, 'total': 8279.65}
{'_id': 'colombia', 'count': 2, 'total': 8218.95}
{'_id': 'dominican republic', 'count': 1, 'total': 8206.39}
{'_id': 'armenia', 'count': 1, 'total': 8200.13}
{'_id': 'nigeria', 'count': 1, 'total': 7863.25}
{'_id': 'azerbaijan', 'count': 1, 'total': 6999.84}
{'_id': 'chile', 'count': 1, 'total': 6902.89}
{'_id': 'jordan', 'count': 1, 'total': 5598.25}
{'_id': 'peru', 'count': 1, 'total': 4298.73}
{'_id': 'sweden', 'count': 1, 'total': 3673.15}
{'_id': 'serbia', 'count': 1, 'total': 2899.72}

In [12]:
pipeline = [
    {"$match":
        {"year":2010,
        "total_price":{"$lte":6000}}
    },
    {"$group":
        {"_id":"$gender",
         "count":{"$sum":1},
         "total":{"$sum":"$total_price"}}
    },
    {"$sort":
     {"total":-1}},

    {"$project":
        {"_id":1,
         "count":1,
         "total":1}
     
     
    }
]

In [13]:
results = sales.aggregate(pipeline)
for result in results:
    pprint(result)

{'_id': 'female', 'count': 13, 'total': 48567.15}
{'_id': 'male', 'count': 9, 'total': 43526.12}
{'_id': 'non-binary', 'count': 1, 'total': 5959.07}
{'_id': 'agender', 'count': 1, 'total': 4595.73}